<!doctype html>
<html>

<head>
    <title>Wedo a Corporate Flat bootstrap Responsive website Template | Contact :: w3layouts</title>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="stylesheets/contact.css" />
    {{!--
    <link rel="stylesheet" type="text/css" href="c/component.css" /> --}}
    <!--web-font-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet'
        type='text/css'>
    <!--//web-font-->
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- //js -->
    <!-- start-smoth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.53451.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!--//end-smoth-scrolling-->
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
</head>

<body>
    <!--header-->
    <div class="header">
      <div class="social-section">
        <div class="social-icons">
            <ul>
                <li><a href="https://x.com/_nika56?t=M-heYkqF7AJlh0aEsIieZA&s=09"><i class="fab fa-twitter"></i></a></li>

                <li><a href="https://www.linkedin.com/in/arjun-menon-545051210/" class="in" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/arjuMenon" class="dott" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
        <div class="container">
            <div class="col-md-9 top-nav">
                {{!-- <span class="menu"><img src="images/menu-icon.png" alt="" /></span> --}}
                {{!-- <ul class="nav1">
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="portfolio.html">PORTFOLIO</a></li>
                    <li><a href="samplepage.html">SAMPLE PAGE </a></li>
                    <li><a href="contact.html" class="active">CONTACT</a></li>
                </ul> --}}
                <!-- script-for-menu -->
                <script>
                    $("span.menu").click(function () {
                        $("ul.nav1").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- /script-for-menu -->
            </div>
            <div class="col-md-3 header-logo">
                {{!-- <a href="index.html"><img src="images/logo.png" alt="logo" /></a> --}}
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--header-->
    <!--contact-->
    <div class="contact">
        <div class="container">
            <div class="services">
                <h3>CONTACT ME</h3>
            </div>
            <div class="map">
                <h4>GET IN TOUCH</h4>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1956.533531787853!2d75.80882003985742!3d11.25647700886567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDE1JzIzLjMiTiA3NcKwNDgnMzUuMyJF!5e0!3m2!1sen!2sin!4v1729798987111!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact-infom">
                <h4>CONTACT INFO</h4>
                <p>Feel free to reach out for project collaborations or any backend development inquiries. I am
                    available weekdays from 9 am to 6 pm.</p>
            </div>
            <div class="address">
                <div class="address-left">
                    <h4>Address 1 :</h4>
                    <p>"Madhavam"house, </p>
                    <p>Angathil road,</p>
                    <p>Mobile : +91 8289820032</p>
                    {{!-- <p>FAX : +1 8</p> --}}
                    <p>Email : <a href="arjunmenon2011@gmail.com">arjunmenon2011@gmail.com</a></p>
                </div>
                <div class="address-left">
                    <h4>Address 2 :</h4>
                    <p>"Madhavam"House</p>
                    <p>Near Ollur temple,Pottammal,</p>
                    <p>Telephone : 0495-2741277</p>
                    {{!-- <p>FAX : +1 100 889 9466</p> --}}
                    <p>Email : <a href="wolfstale27@gmail.com">wolfstlae27@gmail.com</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="contact-form">
                <h4>CONTACT FORM</h4>
                <form>
                    <input type="text" value="Name" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Name';}" required="">
                    <input type="email" value="Email" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <input type="text" value="Telephone" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Telephone';}" required="">
                    <textarea type="text" onfocus="this.value = '';"
                        onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-right">
                <p>© 2015 All rights reserved | Template by <a href="http://w3layouts.com/"> W3layouts</a></p>
            </div>
        </div>
    </div>
    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--//smooth-scrolling-of-move-up-->
</body>

</html>