<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/works.css">
    <title>Arjun Menon</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Arjun Menon</a>
        <nav>
            <a href="/" class="active">Home</a>
            <a href="/works" class="active">My Works</a>
            <a href="/contact" class="active">Contact</a>
        </nav>
    </header>

    <div class="grid-2">
        <div class="section-1">
            <i class="fas fa-code fa-5x white"></i>
            <h2>Arjun Menon</h2>
            <p>Kozhikode, Kerala, India</p>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>

        <div class="section-2">
            <h2>About</h2>
            <p>I am a backend developer with expertise in Node.js, AWS, and cybersecurity. I’ve built an e-commerce
                platform featuring a robust backend with a live database, seamless Razorpay payment integration, and
                perfect routing, paired with a minimal frontend. Additionally, I developed an interactive chatbot using
                HTML, CSS, and JavaScript, integrating APIs for dynamic responses and smooth user interaction. I’m
                passionate about creating secure, scalable, and efficient backend systems.</p>

            <h2>Works</h2>
            <a href="http://13.127.71.35/">FullRevMoto e-commerce Website</a>
            <a href="http://13.233.27.130/">OneBrainCell Chatbot</a>

             <h2>Resume</h2>
            <a href="stylesheets/resume.pdf" class="resume-link" target="_blank">
    <i class="fas fa-file-pdf"></i> View My Resume
</a>
            

            <h2>Contact</h2>
            <div class="contact-info">
                <p><i class="fas fa-envelope"></i> <a
                        href="mailto:arjunmenon2011@gmail.com">arjunmenon2011@gmail.com</a></p>
                <p><i class="fas fa-phone"></i> <a href="tel:+918289820032">+91 82898 20032</a></p>
            </div>

        </div>
    </div>
</body>

</html>